.complet {
  margin: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin-top:-80px;
}

#vida {
  position: relative;
  left: 300px;
  bottom: 80px;
}

#botoHistorial {
  position: relative;
  left: 140px;
  bottom: 40px;
}

#imatge, #imatge1{
  position: absolute;
}